<!DOCTYPE html>
<html lang="eng" xmlns:th="http://www.thymeleaf.org">
<body>
<header th:fragment="header" class="navbar">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style = "font-family: Futura,Trebuchet MS,Arial,sans-serif" >
        <div class="container-fluid" >
            <a class="navbar-brand" th:href="@{/}">
                <img id="logo" src="/images/Logo.png" style="width: 50px; height: 40px; border-radius: 5px" >
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/user}"> Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/books}">My Books</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/recipes}">My Recipes</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
</body>
</html>