<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/signedInDefaultLayout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/book.css} " />
    <title>User</title>
</head>
<body>

<section id="section_container" layout:fragment="content" >

    <div id="books_container">
        <div class="card" id="cook_book_container">
            <div class="card-header" style=" margin-bottom: 1em; background:#41295a; color:#E9E4F0; display: flex; flex-direction: row; justify-content: space-between">
                <h3 class="heading" > My Cook Books </h3>

                <div id="search_and_create_container">
                <button type="button" class="create_button">
                    <a th:href="@{/book/createBook}" class="go_to_link"> + Create</a>
                </button>

                <div class="search_bar">
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-light" type="submit" >Search</button>
                    </form>
                </div>

                </div>
            </div>
            <div id="book_container" th:if="${recipeBooks}">
                <div th:each="book:${recipeBooks}" >
                    <div class="card" style="display:flex; align-items:center; width: 15em; height: 20em;margin-right:2rem;margin-bottom: 2em; background: #FFFF; box-shadow: 10px 10px 5px #948E99;">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body" style="display:flex; flex-direction:column; justify-content:center; align-items:center; height:100vh;">
                            <h5 class="card-title" th:text="${book.title}">Card title</h5>
                            <p class="card-text" th:text="${book.description}" style="text-align: center"></p>
                            <p class="card-text" th:text="${book.createdAt}"  ></p>
                            <button class="roundedButton" >
                                <a th:href="@{/book/{bookId}(bookId=${book.id})}" class="go_to_link" > Book</a>
                            </button>
                        </div>
                    </div>
                </div>
                <div>
                    <div th:unless="${recipeBooks}">
                        <p>No Books</p>
                    </div>
                </div>
            </div>
        <div th:if="${recipeBooks.totalPages > 1}">
            <ul class="pagination">
                <li th:class="${recipeBooks.first ? 'disabled' : ''}">
                    <a th:href="@{/books(page=${recipeBooks.number - 1}, size=${recipeBooks.size})}" aria-label="Previous" class="paginationLink">&laquo;</a>
                </li>


                <li th:each="pageNumber : ${#numbers.sequence(0, recipeBooks.totalPages - 1)}" th:class="${recipeBooks.number == pageNumber ? 'active' : ''}">
                    <a th:href="@{/books(page=${pageNumber}, size=${recipeBooks.size})}" th:text="${pageNumber + 1}" class="paginationLink"></a>
                </li>
                <li th:class="${recipeBooks.last ? 'disabled' : ''}">
                    <a th:href="@{/books(page=${recipeBooks.number + 1}, size=${recipeBooks.size})}" aria-label="Next" class="paginationLink">&raquo;</a>
                    <span aria-hidden="true">&raquo;</span>
                </li>
            </ul>
        </div>
        </div>
    </div>

</section>

</body>
</html>