<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/signedInDefaultLayout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/page.css} " />
    <title>Recipes</title>
</head>
<body>

<section id="section_container" layout:fragment="content" >
    <div id="pages_container">
        <div class="card" id="recipe_page_container">
            <div class="card-header" style=" margin-bottom: 1em; background:#41295a; color:#E9E4F0; display: flex; flex-direction: row; justify-content: space-between">
                <h3 class="heading" > My Recipes </h3>

                <div class="search_and_create_container">
                    <button type="button" class="create_button">
                        <a th:href="@{/recipe/createRecipe}" class="go_to_link"> + Create</a>
                    </button>

                    <div class="search_bar">
                        <form class="d-flex" role="search">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-light" type="submit" >Search</button>
                        </form>
                    </div>

                </div>
            </div>
            <div id="page_container" th:if="${recipePages}">
                <div th:each="page:${recipePages}" >
                    <div class="card" style="display:flex; align-items:center; width: 15em; height: 20em;margin-right:2rem;margin-bottom: 2em; background: #FFFF; box-shadow: 10px 10px 5px #948E99;">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body" style="display:flex; flex-direction:column; justify-content:center; align-items:center; height:100vh;">
                            <h5 class="card-title" th:text="${page.title}">Card title</h5>
                            <p class="card-text" th:text="${page.description}" style="text-align: center"></p>
                            <p class="card-text" th:text="${page.createdAt}"  ></p>
                            <button class="roundedButton" >
                                <a th:href="@{/recipe/{pageId}(pageId=${page.id})}" class="go_to_link">Recipe</a>
                            </button>
                        </div>
                    </div>
                </div>
                <div>
                    <div th:unless="${recipePages}">
                        <p>No Books</p>
                    </div>
                </div>
            </div>

            <div th:if="${recipePages.totalPages > 1}" >
                <ul class="pagination" style=" display:flex;justify-content:flex-end; margin-top: 2em;">
                    <li th:class="${recipePages.first ? 'disabled' : ''}">
                        <a th:href="@{/user(page=${recipePages.number - 1}, size=${recipePages.size})}" aria-label="Previous" class="paginationLink">&laquo;</a>
                    </li>

                    <li th:each="pageNumber : ${#numbers.sequence(0, recipePages.totalPages - 1)}" th:class="${recipePages.number == pageNumber ? 'active' : ''}">
                        <a th:href="@{/user(page=${pageNumber}, size=${recipePages.size})}" th:text="${pageNumber + 1}" class="paginationLink"></a>
                    </li>
                    <li th:class="${recipePages.last ? 'disabled' : ''}">
                        <a th:href="@{/user(page=${recipePages.number + 1}, size=${recipePages.size})}" aria-label="Next" class="paginationLink">&raquo;</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>

</section>

</body>
</html>