<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/signedInDefaultLayout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/page.css} " />
    <title>Create Recipe</title>
</head>
<body>
<section id="section_container" layout:fragment="content" >
    <div class="container" id="create_page_container">
        <div class="row col-md-8 offset-md-2" id="alert_container">
            <div class="card" id="form-container">
                <div th:if="${param.error}" style="padding-top:40px">
                    <div class="alert alert-light" style="text-align: center">Oops! Cook book could not be saved.</div>
                </div>
                <div class="card-header" id = heading_container>
                    <h2 class="text-center">Edit Recipe</h2>
                </div>
                <div class="card-body" id="card_container">
                    <form method="post" role="form" th:action="@{/recipe/updateRecipe/save}" th:object="${recipePage}" id="recipePage">
                        <input hidden th:field="*{id}"/>

                        <div class="form-group mb-3">
                            <label class="form-label">Recipe Title</label>
                            <input class="form-control"
                                   id="BookTitle"
                                   name="title"
                                   th:field="*{title}"
                                   type="text"
                                   style="width:110%"
                            />
                            <p th:errors="*{title}" class="text-danger"
                               th:if="${#fields.hasErrors('title')}">
                            </p>
                        </div>

                        <div class="form-group mb-3" >
                            <label class="form-label">Recipe Description</label>
                            <textarea  class="form-control"
                                       id="bookDescription"
                                       name="description"
                                       th:field="*{description}"
                                       type="text"
                                       style="height:10em; width:110%;"

                            > </textarea>
                            <p th:errors="*{description}" class="text-danger"
                               th:if="${#fields.hasErrors('description')}">
                            </p>
                        </div>

                        <fieldset>
                            <div class= "form-group mb-3">
                                <label class="form-label"> Ingredients</label>
                                <div >

                                    <input  class="form control form-control-sm"
                                            id="ingredient" type="text"
                                            name="ingredient"
                                            style="border-color: lightgray; width: 50%"/>
                                    <button type="button" id="addIngredient" >Add Ingredient</button>
                                </div>
                            </div>
                        </fieldset>

                        <div class="form-group mb-3" id="button_container">
                            <button type="submit"  value= "submitForm" class ="roundedButton" style="width:150px; margin-left: 80px">Edit Recipe</button>
                        </div>
                    <div id="ingredients_container">
                        <ul id="ingredientsContainer">
                            <li class="ingredient_li" th:each="ingredient : *{ingredients}" th:text="${ingredient}">
                            </li>
                        </ul>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/js.js"></script>
</section>
</body>
</html>