<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/signedInDefaultLayout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/book.css} " />
    <title>Edit Cook Book</title>
</head>
<body>

<section id="section_container" layout:fragment="content" >

    <div class="container" id="create_book_container">
        <div class="row col-md-8 offset-md-2" id="alert_container">
            <div class="card" id="form-container">
                <div th:if="${param.error}" style="padding-top:40px">
                    <div class="alert alert-light" style="text-align: center">Oops! You must enter a title to save your cook book.</div>
                </div>
                <div class="card-header" id = heading_container>
                    <h2 class="text-center">Edit Cook Book</h2>
                </div>
                <div class="card-body" id="card_container">
                    <form method="post" role="form" th:action="@{/book/updateBook/save}" th:object="${recipeBook}">

                        <input hidden th:field="*{id}"/>
                        <div class="form-group mb-3">
                            <label class="form-label">Book Title</label>
                            <input class="form-control"
                                   id="BookTitle"
                                   name="title"
                                   th:field="*{title}"
                                   type="text"
                                   style="width:110%"
                            />
                            <p th:errors="*{title}" class="text-danger"
                               th:if="${#fields.hasErrors('title')}">
                            </p>
                        </div>

                        <div class="form-group mb-3" >
                            <label class="form-label">Book Description</label>
                            <textarea  class="form-control"
                                       id="bookDescription"
                                       name="description"
                                       th:field="*{description}"
                                       type="text"
                                       style="height:15em; width:110%;"

                            > Enter ...</textarea>
                            <p th:errors="*{description}" class="text-danger"
                               th:if="${#fields.hasErrors('description')}">
                            </p>
                        </div>
                        <div class="form-group mb-3" id="button_container">
                            <button type="submit" class ="roundedButton" style="width:150px; margin-left: 80px">Edit Book</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


</section>

</body>
</html>