<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/login.css"/>
    <title>Home</title>
</head>
<body>

<section layout:fragment="content" >
    <p>Home Page Content</p>
    <p>This is what I should be seeing...</p>
</section>

</body>
</html>