<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/login.css"/>
    <title>Login</title>
</head>
<body>

<section id="section_container" layout:fragment="content" >
    <p style="margin-top: 5em">Landing Page Signed Out</p>
</section>

</body>
</html>