<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/DefaultLayout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/signUp.css} " />
    <title>Register</title>
</head>
<body>
<section id="section_container" layout:fragment="content" >
    <div class="container" id="sign_up_form_container">
        <div class="row col-md-8 offset-md-2" id="alert_container">
            <div class="card" id="form-container">
                <div th:if="${param.success}" style="padding-top:40px">
                    <div class="alert alert-light" style="text-align: center">You've successfully registered
                        to our app!</div>
                </div>
                <div class="card-header" id = heading_container>
                    <h2 class="text-center">Registration</h2>
                </div>
                <div class="card-body">
                    <form method="post" role="form" th:action="@{/register/save}" th:object="${user}">

                        <div class="form-group mb-3">
                            <label class="form-label">First Name</label>
                            <input class="form-control"
                                   id="firstName"
                                   name="firstName"
                                   placeholder="enter first name"
                                   th:field="*{firstName}"
                                   type="text"
                            />
                            <p th:errors="*{firstName}" class="text-danger"
                               th:if="${#fields.hasErrors('firstName')}">
                            </p>
                        </div>

                        <div class="form-group mb-3" >
                            <label class="form-label">Last Name</label>
                            <input class="form-control"
                                   id="lastName"
                                   name="lastName"
                                   placeholder="enter last name"
                                   th:field="*{lastName}"
                                   type="text"
                            />
                            <p th:errors="*{lastName}" class="text-danger"
                               th:if="${#fields.hasErrors('lastName')}">
                            </p>
                        </div>

                        <div class="form-group mb-3" >
                            <label class="form-label"> Email</label>
                            <input class="form-control"
                                   id="email"
                                   name="email"
                                   placeholder="enter email address"
                                   th:field="*{email}"
                                   type="email"
                                   aria-describedby="basic-addon2"
                                   style="width:100%; height:37px; text-align:left; padding-left: 10px; border:1px solid #DBDBDB"
                            />
                            <p th:errors="*{email}" class="text-danger"
                               th:if="${#fields.hasErrors('email')}">
                            </p>
                        </div>

                        <div class="form-group mb-3" style = "padding-bottom: 2em">
                            <label class="form-label">Password</label>
                            <input class="form-control"
                                   id="password"
                                   name="password"
                                   placeholder="enter password"
                                   th:field="*{password}"
                                   type="password"
                                   style="width:100%; height:37px; text-align:left; padding-left: 10px; border:1px solid #DBDBDB"
                            />
                            <p th:errors="*{password}" class="text-danger"
                               th:if="${#fields.hasErrors('password')}">
                            </p>
                        </div>

                        <div class="form-group mb-3" id="button_container">
                            <button type="submit" class ="roundedButton">Register</button>
                        </div>
                        <div id = "register_container">
                            <p>Already registered? <a href="/" th:href="@{/login}">Login
                                here</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>