<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/signedInDefaultLayout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/book.css} " />
    <title>User</title>
</head>
<body>

<section id="section_container" layout:fragment="content" >
    <div id="books_container" >
        <div th:if="${recipeBook}">
        <h3 class="heading" th:text="${recipeBook.title}" > </h3>
            <table>
                <tr>
                    <td th:text="${recipeBook.description}"></td>
                </tr>
                <tr>
                    <td th:text="${recipeBook.createdAt}"></td>
                </tr>
            </table>
            <div>
                <div th:unless="${recipeBook}">
                    <p>No Book</p>
                </div>
            </div>
        </div>
    </div>

    <div id="recipes_container">
        <h3 class="heading" th:if="${recipePages}"> Recipes</h3>
        <div th:each="page:${recipePages}">
            <table>
                <tr th:text="${page.title}"></tr>
                <tr >
                    <td th:text="${page.description}"></td>
                    <td th:text="${page.createdAt}"></td>
                    <td></td>
                </tr>
            </table>
            <div>
                <div th:unless="${recipePages}">
                    <p>No Books</p>
                </div>
            </div>
        </div>
    </div>

</section>

</body>
</html>