<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/signedInDefaultLayout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/user.css} " />
    <title>User</title>
</head>
<body>
<section id="section_container" layout:fragment="content" >
    <div th:if="${user}" id="top_container">
<!--        <img id="profile_pic"/>-->
    <div  id="user_container">
        <h2 th:text="${user.firstName} + ' '+ ${user.lastName}"></h2>
        <p th:text="'Registered Email: '+ ${user.email}"></p>
    </div>
    <div th:unless="${user}">
        <p>No User Found</p>
    </div>
        <div id="create_buttons_container">
        <div id="create_book_container">
            <button type="button" class="create_button">
                <a th:href="@{/book/createBook}" class="go_to_link"> + Create New Cook Book</a>
            </button>
        </div>
        <div id="create_page_container">
            <button type="button" class="create_button">
                <a th:href="@{/recipe/createRecipe}" class="go_to_link"> + Create New Recipe</a>
            </button>
        </div>
        </div>
    </div>

    <div id="books_container">
        <div class="card" id="cook_book_container">
            <div class="card-header" style=" margin-bottom: 1em; background:#41295a; color:#E9E4F0; display: flex; flex-direction: row; justify-content: space-between">
        <h3 class="heading" > My Cook Books </h3>
                <div class="search_bar">
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-light" type="submit" >Search</button>
                    </form>
                </div>
            </div>
        <div id="book_container" th:if="${recipeBooks}">
        <div th:each="book:${recipeBooks}" >
            <div class="card" style="display:flex; align-items:center; width: 15em; height: 20em;margin-right:2rem; background: #FFFF; box-shadow: 10px 10px 5px #948E99;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body" style="display:flex; flex-direction:column; justify-content:center; align-items:center; height:100vh;">
                    <h5 class="card-title" th:text="${book.title}">Card title</h5>
                    <p class="card-text" th:text="${book.description}" style="text-align: center"></p>
                    <p class="card-text" th:text="${book.createdAt}"  ></p>
                    <button class="roundedButton" >
                    <a th:href="@{/book/{bookId}(bookId=${book.id})}" class="go_to_link" > Book</a>
                    </button>
                </div>
            </div>
            </div>
            <div>
                <div th:unless="${recipeBooks}">
                    <p>No Books</p>
                </div>
        </div>
        </div>
        </div>
    </div>

    <div id="recipes_container">
        <div class ="card" id="recipe_container">
            <div class="card-header" style="margin-bottom: 1em; background:#41295a; color:#E9E4F0; display: flex; flex-direction: row; justify-content: space-between" >
              <h3 class="heading" > My Recipes</h3>
                <div class="search_bar">
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-light" type="submit" >Search</button>
                    </form>
                </div>
            </div>
            <div id="pages_container" th:if="${recipePages}">
            <div th:each="page:${recipePages}">
                <div class="card" style="display:flex; align-items:center; width: 15em; height: 20em;margin-right:2rem; background:white; box-shadow: 10px 10px 5px #948E99;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body" style="display:flex; flex-direction:column; justify-content:center; align-items:center; height:100vh;">
                        <h5 class="card-title" th:text="${page.title}">Card title</h5>
                        <p class="card-text" th:text="${page.description}" style="text-align: center"></p>
                        <p class="card-text" th:text="${page.createdAt}" ></p>
                        <button class="roundedButton" >
                            <a th:href="@{/recipe/{pageId}(pageId=${page.id})}" class="go_to_link">Recipe</a>
                        </button>
                    </div>
                </div>
            </div>

            </div>
                <div>
                    <div th:unless="${recipeBooks}">
                        <p>No Books</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="/js/js.js"></script>
</body>
</html>