<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/signedInDefaultLayout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/book.css} " />
    <title>User</title>
</head>
<body>

<section id="section_container" layout:fragment="content" >
    <p>Sorry, Can't Find What You Are Looking For</p>
</section>

</body>
</html>